################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RhetosCLI/v15/Server/sqlite3
/RhetosCLI/bin/
/RhetosCLI/obj/
/RhetosCLITests/bin/
/RhetosCLITests/obj/
*.suo
/packages
/RhetosCLI/*.user
/RhetosCLITests/bin/Debug
/RhetosCLITests/obj/Debug
/.vs